body {
  background-color: #f6f6f6;
}

header {
  background-color: #1c1d3b;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  height: 50px;
  margin-bottom: 24px;
}

.appName {
  line-height: 50px;
}

